<div>
  <p>Welcome to the Jake Zur (jz) Command Line Interface (CLI).
    jz is a helpful command line tool for exploring Jake Zur's personal projects.
    This application is a terminal themed interface and supports the jz CLI. Use the terminal by typing
    a command and pressing 'enter'. You can move back to previous commands with the up arrow, and back with the down
    arrow. The following commands for the jz CLI are supported:</p>
  <p>jz CLI supported commands:</p>
  <ul>
    <li>jz -h -> display help message explaining package use and terminal navigation</li>
    <li>jz lp -> lists all project names</li>
    <li>jz ep &lt;project_name&gt; -> displays information about &lt;project_name&gt;</li>
  </ul>
<!--  <p>Terminal navigation commands (coming soon!!):</p>-->
<!--  <ul>-->
<!--    <li>mkdir &lt;directory_name&gt; -> creates a directory in the current working directory named &lt;directory_name&gt;</li>-->
<!--    <li>touch &lt;file_name&gt; -> creates a file in the current working directory named &lt;file_name&gt;</li>-->
<!--    <li>cd &lt;directory_name&gt; -> changes the current working directory to &lt;directory_name&gt;</li>-->
<!--  </ul>-->
</div>
