* {
  color: white
}

.terminal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: black;
  padding: 8px;
  margin: 2px;
  margin-top: 25px;
}

.command-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.last-login {
  border-width: 0px;
  margin-top: 1px;
  height: 30px;
  width: 100%;
  background-color: black;
  font-family: 'Menlo', monospace;
}

.command-line-input {
  border-width: 0px;
  margin-top: 1px;
  height: 20px;
  width: 100%;
  background-color: black;
  font-family: 'Menlo', monospace;
}

.command-line-input:focus {
  outline: none;
  background-color: #000;
  box-shadow: none;
}

.command-line-input::selection {
  background: transparent;
}

