* {
  font-family: 'Menlo', monospace;
}

.command-history {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.command-history {
  display: flex;
  width: 100%
}

.command-text {
  border-width: 0;
  width: 100%;
  background-color: black;
  font-family: 'Menlo', monospace;
}

.cwd-text {
  margin: 6px;
}
